.overflow-hidden {
  overflow: hidden;
}
body {
  background-color: rgb(245, 247, 249);
}
.ivu-card {
  margin: 24px 0 0;
}
.help-text {
  color: #9ea7b4;
  font-size: 12px;
}
.help-color{
  color: #9ea7b4;
}
.lose-text {
  color: #c3cbd6;
  font-size: 12px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}
h1 {
  font-size: 26px;
}
h2 {
  font-size: 20px;
}
